<% include partials/header %>

<div class="container">
    <div class="row">
    <h1 style="text-align: center">Tell us about your Dream!</h1>
    
    <div style="width:30%; margin: 40px auto">
        <form method="POST" action="/dreams">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Dream Name" name="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Image URL for representation" name="image">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Description" name="description">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Post My Dream</button>
            </div>
        </form>
        <a href="/dreams">View All Dreams</a>
    </div>

    </div>
</div>

<% include partials/footer %>